{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
{% load staticfiles %}

<!-- DataTables CSS -->
<!--<link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.4/media/css/jquery.dataTables.css' %}">-->
<link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.4/dataTables.bootstrap.css' %}">
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="{% static 'DataTables-1.10.4/media/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'DataTables-1.10.4/dataTables.bootstrap.js' %}"></script>


<style>
    body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
</style>


<body>
    <div class="container-fluid">
              
    
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{ recent_city_sales.0.home.city }}'s Most Recent Sales</h1>
                    <h4>Accuracy vs actual sales price</h4>
                    <p>See how our estimates stacked up for the most recent sales in {{ recent_city_sales.0.home.city }}.
                    We're still working our accuracy and would love feedback on why we got the ones in red wrong so we
                    can continue to make EazyHouz esimtates better.</p>
                    <h4>Accuracy vs Zestimates</h4>
                    <p>For full transperancy we also show the Zesimtates for those properties.</p>
                    <h4>Homes for sale</h4>
                    <p>See <a href="/best-value-homes/search/{{ recent_city_sales.0.home.city|iriencode }}">the best value homes for sale in {{ recent_city_sales.0.home.city }}.</a></p>
                    <div class="table-responsive"> <!--Twitter view-->
                        <table id="recent_sales_table" class="table table-striped">
                            <thead>
                              <tr>
                                <th>Date Sold</th>
                                <th>Home Address</th>
                                <th>Sold Price</th>
                                
                                <th>EazyHouz Estimate ($)</th>
                                <th>EazyHouz Error</th>
                                <th>Zestimate</th>
                                <th>Zestiamte Error</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for h in recent_city_sales %}
                                    <tr
                                        {% if h.error < -0.10 or h.error > 0.10 %}
                                            class="danger"
                                            {% else %}
                                                class="success"
                                            {% endif %}>
                                        <td>{{ h.home.last_sale_date}}</td>
                                        <td><a href="{{h.home.gen_url}}">{{ h.home.address }}</a></td>
                                        <td>{{ h.list_price |floatformat:"0" |intcomma}}</td>
                                        <td>{{ h.predicted_price|floatformat:"0" |intcomma }}</td>
                                        <td>{{ h.error|mul:-100|floatformat:"0" }}%</td>
                                        <td>{{ h.home.zestimate|floatformat:"0" |intcomma }}</td>
                                        <td>{{ h.home.zestimate_error|mul:100|floatformat:"0"  }}{% if h.home.zestimate_error %}%{% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div> <!--table div ends-->  
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
</body>


<script type="text/javascript">
$(document).ready(function() {

    console.log('Document ready');       
       
    var table = $('#recent_sales_table').DataTable({
        'paging': false,
        'order': [
            [0, 'desc']
        ]
    }); //TODOTODAY

});//end document.ready    
</script>



{% endblock %}