{% extends "base.html" %}

{% block content %}
<!--
<head>
    <title>Home Value Engine - Find the value of your home today</title>
</head>-->
<style>
    body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
</style>


<body>
    <div class="container-fluid">
              

    
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Our Accuracy by City</h1>
                    <br>
                    <p>
                        We are transparent about our accuracy so please
                        see the most recent sales for the city you are
                        interested in and how close we were. 
                        
                    </p>
                    <br>
                    <p>
                        Click on your city below:
                    </p>
                    <div class="table-responsive"> <!--Twitter view-->
                        <table class="table table-striped">
                            <tbody>
                                {% for r in cities %}
                                    {% cycle '<tr>' '' '' '' %}
                                    <td><a href="search/{{r.city}}">{{ r.city }}</a></td>
                                    {% cycle '' '' '' '</tr>' %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!--table div ends-->  
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
</body>



{% endblock %}
