{% extends "base.html" %}

{% block content %}

<style>
    body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
</style>


<body>
    <div class="container-fluid">
              

    
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Find Bargain Bay Area Homes for Sale</h1>
                    <br>
                    <p>
                        Thanks to eye-popping price tags and decades-long loan
                        repayment schedules, homebuyers want the most for their
                        money. Let us tell you which homes are a good deal and
                        help you get the best price. You may also wnat to look
                        at homes-FSBOs, short sales, foreclosures, and auction
                        properties which we will be adding.
                    </p>
                    <br>
                    <p>
                        Select city below:
                    </p>
                    <div class="table-responsive"> <!--Twitter view-->
                        <table class="table table-striped">
                            <tbody>
                                {% for r in cities %}
                                    {% cycle '<tr>' '' '' '' %}
                                    <td><a href="search/{{r.city}}">{{ r.city }}</a> ({{r.total}} homes)</td>
                                    {% cycle '' '' '' '</tr>' %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!--table div ends-->  
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
</body>



{% endblock %}
