{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load humanize %}
{% load mathfilters %}
{% block content %}
{% load staticfiles %}

<!-- DataTables CSS -->
<!--<link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.4/media/css/jquery.dataTables.css' %}">-->
<link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.4/dataTables.bootstrap.css' %}">
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="{% static 'DataTables-1.10.4/media/js/jquery.dataTables.js' %}"></script>
<script type="text/javascript" charset="utf8" src="{% static 'DataTables-1.10.4/dataTables.bootstrap.js' %}"></script>



<style>
    body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
</style>


<body>
    <div class="container-fluid">
              
    
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Bargain Homes for Sale in {{ best_homes.0.home.city }}</h1>
                    <p>All the homes currently listed for sale in {{ best_homes.0.home.city }} sorted by what we think are the best values out there.</p>
                    <p>See EazyHouz's <a href="/accuracy-recent-sales/search/{{ best_homes.0.home.city|iriencode }}">accuracy in {{ best_homes.0.home.city }}.</a></p>
                    <div class="table-responsive"> <!--Twitter view-->
                        <table id="recent_sales_table" class="table table-striped">
                            <thead>
                              <tr>
                                <th>Home Address</th>
                                <th>Elementary School Rating</th>
                                <th>List Price ($)</th>
                                <th>EazyHouz Estimate ($)</th>
                                <th>Discount from Value (Premium)</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for h in best_homes %}
                                    <tr
                                        {% if h.error < -0.05 %}
                                            class="success"
                                            {% elif h.error > 0.05 %}
                                                class ="danger"
                                            {% endif %}>
                                        <td><a href="{{h.home.gen_url}}">{{ h.home.address }}</a></td>
                                        <td>{% if h.home.elementary %}{{ h.home.elementary }} {% else %} na {% endif %}</td>
                                        <td>{{ h.list_price |floatformat:"0" |intcomma}}</td>
                                        <td>{{ h.predicted_price|floatformat:"0" |intcomma }}</td>
                                        
                                        <td>{{ h.error|mul:-100|floatformat:"0" }}%</td>
                                    </tr>
                                        
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div> <!--table div ends-->  
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
</body>


<script type="text/javascript">
$(document).ready(function() {

    console.log('Document ready');       
       
    var table = $('#recent_sales_table').DataTable({
        'paging': false,
        'order': [
            [4, 'desc']
        ]
    }); //TODOTODAY

});//end document.ready    
</script>


{% endblock %}