{% extends "base.html" %}

{% block content %}

<head>
    <title>Home Value Engine - Find the worth of your home</title>
</head>
<body>
              <h1>{{result.last_zestimate}}</h1>

    
        <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        
                        <script type="text/javascript">
                        //    $( document ).ready(function() {
                        //    
                        //        $('#query').typeahead({
                        //            remote: '/autosuggest/?q=%QUERY',
                        //            })
                        //        .keydown(function(e) {
                        //        if (e.keyCode === 13) {
                        //            $("form").trigger('submit');
                        //            }
                        //        });
                        //        $('.tt-query').css('background-color','#fff');  
                        //});
                        </script>     
          
                            
                               
                        
                       
                        
                        <div class="container" class="col-md-8"><div class="row"><div class="well">	
                        <h1>How much is your home worth? </h1>
                        <form action="search" method="get" data-ajax="false">
                        <fieldset>
                            <div class="form-group">
                                {{error}}
                                <input class="form-control" name="q" autocomplete="off" id="query" placeholder="123 Main Street Apt 123" type="text"
                                style="position: relative; vertical-align: top; background-color: rgb(255, 255, 255); font-size: 1.5em; height:40px">
                                    <br><br>
                                <input class="form-control" name="q2" autocomplete="off" id="query_ln2" placeholder="City, State" type="text"
                                style="position: relative; vertical-align: top; background-color: rgb(255, 255, 255); font-size: 1.5em; height:40px">
                            </div>
                            <button type="submit" class="btn btn-primary">Get Value</button>
                            
                        </fieldset>
                        </form>
                        </div></div></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Personalized Market Value Report</h2>
          <p>Use Home Value Engine to get a free estimated market value of your home or a home you are interested in. We'll calculate our best estimated home valuation using the millions of home records in our database. Simply enter the address and click “Get Value”.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2> ... In a Few Seconds</h2>
          <p>No need to wait for weeks for an appraisal. Get a real estate home valuation estimate on what your home is worth. View comparable home prices, recent property sales.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>.. And Much More</h2>
    
          <p>Find real estate, homes for sale, properties for rent, school and neighborhood information and much more. Find timely and comprehensive information about newest listings in your market.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
   
      <hr>

    </div> <!-- /container -->    
    



</body>


{% endblock %}